# --- Gradle 构建产生的文件 (必须忽略) ---
.gradle/
build/
out/
bin/

# --- IntelliJ IDEA 项目配置 (部分忽略) ---
# IDEA 的用户特定配置，不应该上传
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries
.idea/shelf
.idea
.vscode
.gitattributes
# 其他 IDEA 文件可以保留，方便别人导入项目
*.iml
*.ipr
*.iws

# --- Minecraft 模组开发特定垃圾 (非常重要!) ---
# 每次运行游戏生成的日志、存档、配置
run/
logs/
crash-reports/
debug.log
debug.log.gz
latest.log

# --- 系统产生的垃圾文件 ---
.DS_Store
Thumbs.db

*.jar
!libs/*.jar
!gradle/wrapper/gradle-wrapper.jar